@font-face {
    font-family: 'AthensPro';
    src: url('Athens_Pro.otf') format('opentype');
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'AthensPro', 'Times New Roman', Georgia, serif;
}

.container {
    text-align: center;
}

.container p {
    font-size: 3vw; /* Adjusts size based on the width of the viewport */
}

img {
    max-width: 40%; /* As per your specification to set the GIF size */
    height: auto;
}

#mc_embed_signup {
    font-size: 2vw; /* Matching the title font size with Athens Wasn't Built in a Day */
}

input[type=email], input[type=submit] {
    font-family: 'AthensPro', 'Times New Roman', Georgia, serif;
    font-size: 1.5vw; /* Adjust as necessary */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 80%;
}

input[type=submit] {
    background-color: #000000; /* Example color, change as needed */
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a7ad47;
}
